body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: #076c98;
    color: #fff;
    padding: 5px;
    text-align: left;
}

.header h1 {
    margin: 0;
}

.header h2 {
    margin: 0;
}

.header p {
    text-align: left;
    margin-right: 450px;
}

.header img {
    height: 200px;
    width: 200px;
    float: right;
    padding-right: 15px;
}

.left-column,
.right-column {
    width: 45%;
    padding: 1%;
    display: inline-block;
    vertical-align: top;
}

.right-column {
    width: 49%;
    margin-left: 1%;
}

.section-header {
    background-color: #076c98;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
}

.section-body ul {
    padding: 0;
    margin: 0;
}

.section-body ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.section-body ul li:before {
    content: "• ";
    color: #076c98;
}

.skills-list {
    column-count: 2;
    padding: 0;
    margin: 0;
}

.skills-list li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}